.piece{
    cursor: pointer;
    font-size: 3rem;
    margin: 2rem;
    border-radius: 0.75rem;
    background: gray;
    color: white;
    padding: 0.5rem 1rem;
    font-family: Verdana;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75);
}

.container{
    margin: auto;
    text-align: center;
}

.header{
    font-size: 3rem;
    text-align: center;
    background-color: gray;
    color: white;
    padding: 1rem;
    margin: 2rem;
    border-radius: 0.75rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75);
}

.board{
    border-radius: 0.75rem;
    background: gray;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75);
}

.top, .mid, .bot {
    display: flex;
}

.topLeft, .topMid, .topRight, .midLeft, .center, .midRight, .botLeft, .botMid, .botRight {
    width: 10rem;
    height: 10rem;
    font-size: 10rem;
    line-height: 10rem;
    text-align: center;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    font-family: Verdana;
}

.topLeft, .topMid, .topRight{
    border-bottom: solid 10px;
}

.topLeft, .midLeft, .botLeft{
    border-right: solid 10px;
}

.topRight, .midRight, .botRight{
    border-left: solid 10px;
}

.botLeft, .botMid, .botRight{
    border-top: solid 10px;
}

.topLeft {
    border-radius: 0.75rem 0 0 0;
}

.topRight {
    border-radius: 0 0.75rem 0 0;
}

.botLeft{
    border-radius: 0 0 0 0.75rem;
}

.botRight{
    border-radius: 0 0 0.75rem 0;
}

.winner {
    font-size: 3rem;
    color: white;
    background: gray;
    border-radius: 0.5rem;
}

.btn {
    padding: 1rem;
    background: gray;
    border-radius: 0.75rem;
    border-width: 3px;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75);
}

.btn:focus {
    outline: none
}

.green {
    background: rgba(100, 255, 100, 0.5);
}