.container{
    margin: auto;
}

.header{
    text-align: center;
    background-color: gray;
    color: white;
}

.board{
    border: 5px solid gray;
    padding: 2px;
}

.top, .mid, .bot {
    display: flex;
}

.topLeft, .topMid, .topRight, .midLeft, .center, .midRight, .botLeft, .botMid, .botRight {
    width: 10rem;
    height: 10rem;
    font-size: 10rem;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: gray;
    cursor: pointer;
}

.topLeft, .topMid, .topRight{
    border-bottom: solid 2px;
}

.topLeft, .midLeft, .botLeft{
    border-right: solid 2px;
}

.topRight, .midRight, .botRight{
    border-left: solid 2px;
}

.botLeft, .botMid, .botRight{
    border-top: solid 2px;
}